/* Styles for Adopt a Dog Written by Cassandra Marshall*/
/*Code Example for Asana*/

/* Globals */
:root {
  --font-sans: "Avenir LT Std 45 Book", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

/* Fonts */
@font-face {
font-family: 'Avenir LT Std 45 Book';
font-style: normal;
font-weight: normal;
src: local('/assets/fonts/Avenir LT Std 45 Book'), url('/assets/fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('/assets/fonts/Avenir LT Std 85 Heavy'), url('/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
}


body {
  margin: 0 auto;
}

a {
  color: var(--color-link);
}

#page {
	margin: 0 auto;
	min-width: 480px;
	max-width: 100%;
	position: relative;
	background-color: #fff;
}

header {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}

footer {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}



/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.site-header h1 {
	max-width: 200px;	
	display: inline-block;
	text-align: left;
	padding-right: 40px;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-sans);
  margin-left: 0;
  margin-right: 0;
  max-width: 460px;
  display: inline;
  text-align: left;
}

.site-header__quote p { 
	max-width: 250px;
	display: inline-block;	
	padding-right: 40px;
}

.site-header__quote cite { 
	max-width: 250px;
	display: inline-block;	
}


.site-footer {
  color: var(--color);
  font-family: var(--font-sans);
  text-align: left;
  max-width: 400px;
}



/* Homepage Images */
#dogList {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
	
#dogList .thumb {
    margin: 0px 6px 20px;
    padding: 0px;
    float: none;
    display: inline-block;
    width: 30%;
    height: auto;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Modal Styles */
#dogEnlarge {
	position: absolute;
	top: 0;
}


/********* Desktop Media Breakpoint **********/
@media(min-width: 880px) {

#dogList .thumb {	
	
} 	
	
}


