/* Styles for Adopt a Dog Written by Cassandra Marshall*/
/*Code Example for Asana*/

/* Globals */
:root {
  --font-sans: "Avenir LT Std 45 Book", Helvetica, Arial, sans-serif;
  --font-heavy: "Avenir LT Std 85 Heavy", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color: #000;
  --color-title: #fff;
  --color-link: #666;
  --font-size: 16px;
  --font-heading: 32px;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

/* Fonts */
@font-face {
font-family: 'Avenir LT Std 45 Book';
font-style: normal;
font-weight: normal;
src: local('/assets/fonts/Avenir LT Std 45 Book'), url('/assets/fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('/assets/fonts/Avenir LT Std 85 Heavy'), url('/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
}


body {
  margin: 0 auto;
}

a {
  color: var(--color-link);
}


/* Layout */
#page {
	margin: 0 auto -20px;
	min-width: 360px;
	max-width: 100%;
	position: relative;
	background-color: #fff;
	font-size: var(--font-size);
}

header {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}

footer {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}



/* Header and Footer */
.header {
	background: #dbdbdb;
	margin-bottom: 27px;	
}

.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
}

.site-header h1 {
	max-width: 200px;	
	display: block;
	text-align: left;
	padding: 0 40px 20px 0px;
	margin: 0 auto;
	font-size: var(--font-heading);
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  margin-left: 0;
  margin-right: 0;
  max-width: 460px;
  display: inline;
  text-align: left;
  margin: 0 auto;
}

.site-header__quote p { 
	max-width: 250px;
	display: block;	
	padding: 0 0 20px 0px;
	margin: 0 auto;
}

.site-header__quote cite { 
	max-width: 250px;
	display: block;	
	margin: 0 auto;
}

.footer {
	background-color: #dbdbdb;
	padding: 50px;
}

.site-footer {
  	color: var(--color);
  	font-family: var(--font-sans);
  	text-align: left;
  	max-width: 400px;
  	background-color: #dbdbdb;
}



/* Homepage Images */
#dogList {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
	
#dogList .thumb {
    margin: 10px auto;
    padding: 0px;
    float: none;
    display: block;
    width: 95%;
    height: auto;
    font-size: var(--font-size);
    text-align: center;
    overflow: hidden;
    min-height: 400px;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#dogList .thumbLink {
	color: var(--color-title);
    font-size: var(--font-heading);
    font-family: var(--font-heavy);
    text-align: left;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-decoration: none;
    text-shadow: 1px 1px #333;
}

/* Modal Styles */
#dogEnlarge {
	position: absolute;
	top: 0;
}

#dogEnlarge .large {	
	background: rgba(0, 0, 0, 0.80);
	width: auto !important;
	height: 100vh;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding: 10px;
}

#dogEnlarge .large img {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%; 
	height: 97vh;
	width: 97vw;
	padding: 0;
	overflow: auto;
	object-fit: contain;
}

#dogEnlarge .large a.nameLarge {
	color: var(--color-title);
    font-family: var(--font-heavy);
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-decoration: none;
    text-shadow: 1px 1px #333;
	
}

#dogEnlarge .large a.nameLarge ul {
	background: rgba(255,255,255,.40);
	padding: 20px;
}

#dogEnlarge .large a.nameLarge li {
	font-size: var(--font-size);
    font-family: var(--font-sans);
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px #333;
    list-style: none;
	padding-left: 0;
}


#dogEnlarge .large a.nameLarge li.name {
    font-size: var(--font-heading);
    font-family: var(--font-heavy);
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px #333;
}




/********* Tablet Media Breakpoint **********/
@media(min-width: 800px) {
	
.site-header h1 {
	max-width: 200px;	
	display: inline-block;
	text-align: left;
	padding-right: 40px;
}

.site-header__quote p { 
	max-width: 250px;
	display: inline-block;	
	padding-right: 40px;
}

.site-header__quote cite { 
	max-width: 250px;
	display: inline-block;	
}


#dogList .thumb {
    margin: 0px 6px 20px;
    padding: 0px;
    float: none;
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: center;
    overflow: hidden;
    min-height: 340px;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
	
}


/********* Desktop Media Breakpoint **********/
@media(min-width: 1024px) {

#dogList .thumb {
    margin: 0px 6px 20px;
    padding: 0px;
    float: none;
    display: inline-block;
    width: 30%;
    height: auto;
    text-align: center;
    overflow: hidden;
    min-height: 340px;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
	
}

