/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}


/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}


/* Homepage Thumbnails */

.grid-item{ 
	width: 20%; 
	}
.grid-item--width2{ 
	width: 40%; 
	}

.grid-item img { 
	max-width: 300px; 
	}
.grid-item--width2 img { 
	max-width: 400px; 
	}


/*
	<div class="thumb"><div class="frame"><a href=""><img src= "' + this.image + '"></a></div></div>';
	#dogList .thumb {
    margin: 0px 6px 20px;
    padding: 0px;
    float: none;
    display: inline-block;
    width: 30%;
    height: auto;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

/*#dogList .thumb .frame {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px 0px 8px;
    overflow: hidden;
    background: #666;
}*/

/*#dogList .thumb .frame a {
    display: block;
    margin: 0px -50px;
    width: 380px;
    min-height: 300px;
    overflow: hidden;
    background: #ccc;
    position: relative;
}

#dogList .thumb .frame img {
    display: block;
    max-width: 400px;
    height: auto;
    margin: 0px auto;
    position: absolute;
}*/

#dogList li.thumb {	
	float: left;
    margin: 0px 2.5% 20px;
    width: 45%;
    height: auto;
    text-align: left;
    position: relative;
    /*min-height: 340px;*/
    list-style: none;
} 

#dogList li.thumb a {	
	display: block;
	/*margin: 0px -50px;*/
	overflow: hidden;
	background: #ccc;
	position: relative;
	min-height: 200px
}

#dogList li.thumb img {
	max-width: 280px;
	width: 100%;
	position: absolute;
	object-position: 0% 50%;
	object-fit: fill;
}


/********* Desktop Media Breakpoint **********/
@media(min-width: 880px) {

#dogList li.thumb {	
	float: none;
    display: inline-block;
    margin: 0px 0 20px;
    width: 30%;
    height: auto;
    text-align: left;
    /*min-height: 340px;*/
} 	
	
}


